# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Sublime Text
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Logs and cache
*.log
*.cache

# Version control folder
manual_version_control/